body {
    background-color: #FAFAFA;
    font-family: 'Arial';
    padding-top: 50px;
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
   
a,
p {
    color: #4b5156
}

a {
    font-weight: 400;
}
.nametext{
    font-weight: 600;
    color:rgba(0, 0, 0, 0.555);
}
.othertext{
    color: lightgray;

}
h1 {
margin-bottom: 0.2em;
}

h3 {
margin-top: 0.2em;
font-weight: normal;

}


body {
background-color: #f1f1f1;
}
.container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}


input {
    outline: none;
    border: none;
}

.text{
    color: gray;
}
.header-bar {
    display: flex;
    justify-content: left;
    color: #000000;
    padding: 3px;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
 
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    background-color: rgba(206, 231, 233, 0.979);

}

.member-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-top: 1px solid #dfe4ea;
    overflow: hidden;
}

.member-title {
    display: flex;
    padding: 20px;
}

.member-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
    line-height: 0.8;

}

.member-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.member-icon img
 {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #cf4949;
    font-size: 22px;
    line-height: 0;
    padding: 20px 0px;
    text-align: left;
}


.title-header{
    padding:5px;
    background-color: rgba(206, 231, 233, 0.979);
    color: rgb(0, 0, 0);
    
}
.title-header h1{
   text-align: center;
    
}

.dropArea {
    background-color: #f1f2f6;
    color: black;
    border: #ced6e0 1px solid;
}


#addlink {
    color: #00aeff;
    text-decoration: none;
    font-size: 30px;
    margin-left: 350px;
    background-color: white;
}


@media screen and (max-width:320px) {
    #search-add-wrapper {
        padding: 10px;
    }
}


textarea {
    border: 1px solid lightgray;
    padding: 10px;
    width: 90%;
}



::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

/* .button {
    border: 1px solid #757575;
    background-color: #FFF;
    color: #121fdb;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    float:right;
} */
.savebutton1 {
    border: none;
    background-color: #076bdd;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-left: 77.5%;


}
.savebutton2 {
    border: none;
    background-color: #076bdd;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    margin-left: 290px;


}
.deletebutton {
    border: 1px solid #757575;
    background-color: #FFF;
    color: #db1212;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.card-body {
    padding: 20px;
}



.form-field {
margin-bottom: 1px;
color:rgb(128, 128, 128)
}
.custom-hr {
border: none;
height: 1px;
background-color: lightgray;
margin: 20px auto; /* Center the line horizontally and add some margin above and below */
width: 95%;
max-width: 800px; /* Add a maximum width to the line if necessary */
}



label {
font-size:  1.05em;
padding-top: 5px !important;
display: block;
font-weight: 600;
}

.role-label {
font-size: 0.5em;
}
.role-select {
font-size: 1em !important;

}

.role-select label {
font-size: 0.95em;
font-weight: 400;

}
.info{    
font-size:  1.10em;
font-weight: 600;

}


#id_role{
color: lightgray;
}
.bold{
color:black;
}



